$white_color: #FFFFFE;
$red_color: #F21137;
$darker_red_color: #68020F;
$black_color: #030303;
$dark_blue_color :#272936; 
$light_blue_color :#4062F6; 
$blue_gray_color: rgba(#619AEA, 0.16); 

body {
    background-color: $dark_blue_color;
    font-family: 'Roboto', sans-serif;
}
#outer_container {
    display: flex;
    flex-direction: row;
    margin:auto;
    max-width: 120vh;

    #grid_container {
        display: grid; 
        width:auto; 
        float:left; 
        grid-gap: 0;
        grid-template-rows: repeat(var(--grid-rows), calc(50vh / 20));
        grid-template-columns: repeat(var(--grid-cols), calc(50vh / 20));

        .cell {
            padding: 1em;
            border: 1px solid $white_color;
            text-align: center;
            scale: 1;
            z-index: 0;
            transition: 0.5s ease;
            user-select: none;

            &:hover {
                background-color:#FFFFFE;
                scale: 1.5;
                z-index: 1;
                transition: 0.2s ease;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
    #side_panel {
        position: relative;
        color: $white_color;
        height: calc(50vh * 32 / 20);
        width:200px;

        h2 {
            margin-top: 3px;
            text-decoration: underline;
            text-align: left;
        }
        h4 {
            text-decoration: underline;
            text-align: left;
            margin: 3px; 
        }

        #side_panel_inner_container {
            padding: 10px; 
        }
        margin-left:calc(50vh / 20);
        width:auto; 
        float:left; 

        .choice_container {
            display: inline-block;
            position: relative;
            padding-left: 35px;
            margin: 12px;
            cursor: pointer;
            font-size: 22px;
            user-select: none;
            border: 2px solid $dark_blue_color;
            transition: all 300ms ease-in; 

            input {
                position:absolute;
                opacity: 0;
                cursor: pointer;
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: $white_color;
                border-radius: 50%;
                transition: all 300ms ease-in; 
            }
            &:hover input ~ .checkmark {
                background-color: $white_color;
            }

            input:checked ~ .checkmark {
                background-color: $light_blue_color;
            }
            
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
            input:checked ~ .checkmark:after {
                display: block;
            }
            .checkmark:after {
                top: 9px;
                left: 9px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $white_color;
        }
            &:hover {
                border: 2px solid $light_blue_color; 
                background-color: $blue_gray_color;
            }
        }

        #media_button_container {
            

            display: flex;
            flex-direction: row;
            border: 2px solid $white_color; 
            margin-right: 12px;
            margin-top: 12px;

            .speed_number {
                height: 40px;
                line-height: 40px;  
                width:50px; 
                font-size: 2em;
                font-weight: bold;
                border-radius: 50%;
                background-color: $dark_blue_color;
                margin: 12px;
                user-select: none;
                text-align: center;
            }
            .round_button {

                position: relative; 
                height: 40px;
                line-height: 40px;  
                width: 40px;  
                font-size: 2em;
                font-weight: bold;
                border-radius: 50%;
                background-color: $dark_blue_color;
                border: 2px solid $dark_blue_color; 
                color: white;
                text-align: center;
                cursor: pointer;
                user-select: none;
                transition: all 300ms ease-in; 
                margin: 12px;

                &:hover {
                    background-color: $light_blue_color;
                    border: 2px solid $black_color; 
                }
            }

        }
        .erase_button {
            height: 40px;
            line-height: 40px;  
            width: 40px;  
            font-size: 2em;
            font-weight: bold;
            border-radius: 50%;
            background-color: $darker_red_color;
            border: 2px solid $black_color; 
            color: white;
            text-align: center;
            cursor: pointer;
            user-select: none;
            transition: all 300ms ease-in; 
            margin: 12px;

            &:hover {
                background-color: $red_color; 
                border: 2px solid $white_color; 
            }
        }
        .round_button, .erase_button {
            img {
                position: absolute;
                top: 50%;
                left: 50%; 
                transform: translate(-50%, -50%);
                width: 80%; 
                color:$white_color; 
            }
        }

        .erase_button {
            position: relative; 
            &:hover {
                img {
                    content: url("erase.svg");
                }
            }
        }
        .choose_algorithm_container {

            display: flex;
            flex-direction: row;

            .select_container {
                position: relative;
                display: block;
                max-width: 200px;
                min-width: 100px;
                margin-top: 12px;
                margin-bottom: 12px;
                border: 1px solid $white_color;
                background-color: $dark_blue_color;
                z-index: 10;
                transition: all 300ms ease-in; 

                select {
                    border: none;
                    outline: none;
                    background: transparent;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border-radius: 0;
                    margin: 0;
                    display: block;
                    width: 100%;
                    padding: 12px 55px 15px 15px;
                    font-size: 14px;
                    color: $white_color;
                    transition: all 300ms ease-in; 


                    &:hover {
                        color: $black_color;
                    }
                }
                &:after {
                    position: absolute; 
                    right: 0;
                    top: 0;
                    width: 50px;
                    height: 100%;
                    line-height: 38px;
                    content: '\2228';
                    text-align: center;
                    color: $white_color;
                    font-size: 24px;
                    border-left: 1px solid $white_color;
                    z-index: -1;
                }
                &:hover {
                    border: 1px solid $white_color;
                    background-color: $light_blue_color;
                }
            }

            .rectangle_button {
                display: inline-block;
                padding-left:10px;
                padding-right:10px;
                text-align: center;
                line-height: 38px;
                margin-left:12px;
                margin-top: 12px;
                margin-bottom: 12px;

                border: 2px solid $white_color;
                cursor: pointer;
                user-select: none;
                transition: all 300ms ease-in; 

                &:hover {
                    border: 2px solid $black_color;
                    background-color: $light_blue_color;
                }

            }

        }
        #bottom_text {
            display:flex;
            flex-direction: column;
            color:rgb(197, 197, 197); 
            position: absolute;
            bottom: 0%;
            width: 100%;
            text-align: right;
        }
    }
}